@model am_product
@using BusinessEntity;
<div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="product-thumb transition">
        <div class="image">
            <a href="@Url.Action("Index", "Product", new { id = @Model.product_id })">
                <img src="@Model.image" alt="@Model.name" title="@Model.name" class="img-responsive" height="100px" /></a></div>
        <div class="caption">
            <h4>
                <a href="@Url.Action("Index", "Product", new { id = @Model.product_id })">@Model.name</a></h4>
            <p>
                @Html.Raw(@Model.description)</p>
            <p class="price">
                @if (Model.IsSpecial)
                {
                    <span class="price-new">@Model.Special.FirstOrDefault().price</span>
                    <span class="price-old">@Model.price</span> 
                }
                else
                {
                    <span class="price-new">@Model.price</span>
                }
            </p>
        </div>
        <div class="button-group">
            <button type="button" onclick="cart.add('@Model.product_id');">
                <i class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Add to
                    Cart</span></button>
            <button type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('@Model.product_id');">
                <i class="fa fa-heart"></i>
            </button>
            <button type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('@Model.product_id');">
                <i class="fa fa-exchange"></i>
            </button>
        </div>
    </div>
</div>
